*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 22px;
    font-family: Montserrat;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
    background-color: #4B8E82;
}

section{
    display: flex;
    justify-content: center;
}

nav{
    background-color: #19A89F;
    color: #6F5106;
    display: flex;
    font-size: 3em;
    font-weight: bold;
}

nav > div > p{
    padding: 10px 20px;
    font-size: 2em;
}

.div-form{
    display: flex;
    width: 60%;
    justify-content: center;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

form > div{
    background-color: #94B4B2;
    color: #6F5106;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

form>div>p {
    margin: 20px 0px;
}

form>div>input{
    margin-left: 20px;
    margin: 15px;
}

#result-container{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}

#result-div{
    display:flex;
    align-items: center;
    justify-content: center;
}

.try-again, #submit{
    margin: 10px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    padding: 16px;
    border-radius: 8px;
    background-color: #19A89F;
    color: blue;
    align-self: center;
    width: 40%;
    border: none;
}

#percent-msg{
    color: #6F5106;
}

#percent-div{
    margin: 20px 0px;
    text-align: center;
}

#score{
    color: #6F5106;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #19A89F;
    color: #6F5106;
    height: 80px;
}

#retry{
    text-align: center;
}

footer > p {
    color: #6F5106;
    font-weight: bold;
    font-size: 1em;
}